In [1]:
import numpy as np
import pandas as pd
import requests
import yaml


# SOM ENERGIA API
ENDPOINT_SOMENERGIA = "https://opendata.somenergia.coop/v0.2/"


# List of cities we want to access
cities = ["17114", "17010", "17109", "17133", "17149", "17183", "17162", "17185",
            "17200", "17208", "17139", "17154", "17161", "17165", "17184", "17207", "17021"]

cities_list = []


# List of metrics  we want to access
metrics = ["members", "newmembers", "canceledmembers", "contracts", "newcontracts", "canceledcontracts", "selfconsumptioncontracts", "noobs2ninjas",
            "newselfconsumptioncontracts", "canceledselfconsumptioncontracts"]

metrics_list = []

In [206]:
metric="members/by/city/monthly/from/2021-06-01"
#params="?city=17114&city=17021&format=tsv"
params="?city=17114&city=17010&city=17109&city=17133&city=17149&city=17183&city=17162&city=17185&city=17200&city=17208&city=17139&city=17154&city=17161&city=17165&city=17184&city=17207&city=17021"
URL=ENDPOINT_SOMENERGIA + metric + params
print(URL)

https://opendata.somenergia.coop/v0.2/members/by/city/monthly/from/2021-06-01?city=17114&city=17010&city=17109&city=17133&city=17149&city=17183&city=17162&city=17185&city=17200&city=17208&city=17139&city=17154&city=17161&city=17165&city=17184&city=17207&city=17021

In [207]:
response = requests.get(URL)
response.status_code

200

In [208]:
response.headers

{'Server': 'nginx', 'Date': 'Sat, 31 Jul 2021 14:38:51 GMT', 'Content-Type': 'application/yaml', 'Content-Length': '2475', 'Connection': 'keep-alive'}

In [209]:
response.encoding = 'utf-8'
response.content

b"dates:\n- 2021-06-01\n- 2021-07-01\nvalues:\n- 374\n- 377\ncountries:\n  ES:\n    name: Espa\xc3\xb1a\n    values:\n    - 374\n    - 377\n    ccaas:\n      09:\n        name: Catalu\xc3\xb1a\n        values:\n        - 374\n        - 377\n        states:\n          '17':\n            name: Girona\n            values:\n            - 374\n            - 377\n            cities:\n              '17010':\n                name: Argelaguer\n                values:\n                - 10\n                - 10\n              '17021':\n                name: Beuda\n                values:\n                - 4\n                - 4\n              '17109':\n                name: Montagut i Oix\n                values:\n                - 9\n                - 9\n              '17114':\n                name: Olot\n                values:\n                - 165\n                - 165\n              '17133':\n                name: Planes d'Hostoles, Les\n                values:\n                - 21\n                - 21\n              '17139':\n                name: Preses, Les\n                values:\n                - 14\n                - 15\n              '17149':\n                name: Riudaura\n                values:\n                - 10\n                - 10\n              '17154':\n                name: Sales de Llierca\n                values:\n                - 3\n                - 3\n              '17183':\n                name: Sant Aniol de Finestres\n                values:\n                - 10\n                - 10\n              '17184':\n                name: Santa Pau\n                values:\n                - 9\n                - 9\n              '17161':\n                name: Sant Feliu de Pallerols\n                values:\n                - 25\n                - 25\n              '17162':\n                name: Sant Ferriol\n                values:\n                - 1\n                - 1\n              '17165':\n                name: Sant Jaume de Llierca\n                values:\n                - 6\n                - 6\n              '17185':\n                name: Sant Joan les Fonts\n                values:\n                - 7\n                - 7\n              '17200':\n                name: Tortell\xc3\xa0\n                values:\n                - 14\n                - 14\n              '17208':\n                name: Vall de Bianya, La\n                values:\n                - 12\n                - 12\n              '17207':\n                name: Vall d'en Bas, La\n                values:\n                - 54\n                - 56\n"

In [210]:
type(response)

requests.models.Response

In [211]:
print(response.text)

dates:
- 2021-06-01
- 2021-07-01
values:
- 374
- 377
countries:
  ES:
    name: España
    values:
    - 374
    - 377
    ccaas:
      09:
        name: Cataluña
        values:
        - 374
        - 377
        states:
          '17':
            name: Girona
            values:
            - 374
            - 377
            cities:
              '17010':
                name: Argelaguer
                values:
                - 10
                - 10
              '17021':
                name: Beuda
                values:
                - 4
                - 4
              '17109':
                name: Montagut i Oix
                values:
                - 9
                - 9
              '17114':
                name: Olot
                values:
                - 165
                - 165
              '17133':
                name: Planes d'Hostoles, Les
                values:
                - 21
                - 21
              '17139':
                name: Preses, Les
                values:
                - 14
                - 15
              '17149':
                name: Riudaura
                values:
                - 10
                - 10
              '17154':
                name: Sales de Llierca
                values:
                - 3
                - 3
              '17183':
                name: Sant Aniol de Finestres
                values:
                - 10
                - 10
              '17184':
                name: Santa Pau
                values:
                - 9
                - 9
              '17161':
                name: Sant Feliu de Pallerols
                values:
                - 25
                - 25
              '17162':
                name: Sant Ferriol
                values:
                - 1
                - 1
              '17165':
                name: Sant Jaume de Llierca
                values:
                - 6
                - 6
              '17185':
                name: Sant Joan les Fonts
                values:
                - 7
                - 7
              '17200':
                name: Tortellà
                values:
                - 14
                - 14
              '17208':
                name: Vall de Bianya, La
                values:
                - 12
                - 12
              '17207':
                name: Vall d'en Bas, La
                values:
                - 54
                - 56

In [212]:
dades = yaml.safe_load(response.text)

In [213]:
dades

{'dates': [datetime.date(2021, 6, 1), datetime.date(2021, 7, 1)],
 'values': [374, 377],
 'countries': {'ES': {'name': 'España',
   'values': [374, 377],
   'ccaas': {'09': {'name': 'Cataluña',
     'values': [374, 377],
     'states': {'17': {'name': 'Girona',
       'values': [374, 377],
       'cities': {'17010': {'name': 'Argelaguer', 'values': [10, 10]},
        '17021': {'name': 'Beuda', 'values': [4, 4]},
        '17109': {'name': 'Montagut i Oix', 'values': [9, 9]},
        '17114': {'name': 'Olot', 'values': [165, 165]},
        '17133': {'name': "Planes d'Hostoles, Les", 'values': [21, 21]},
        '17139': {'name': 'Preses, Les', 'values': [14, 15]},
        '17149': {'name': 'Riudaura', 'values': [10, 10]},
        '17154': {'name': 'Sales de Llierca', 'values': [3, 3]},
        '17183': {'name': 'Sant Aniol de Finestres', 'values': [10, 10]},
        '17184': {'name': 'Santa Pau', 'values': [9, 9]},
        '17161': {'name': 'Sant Feliu de Pallerols', 'values': [25, 25]},
        '17162': {'name': 'Sant Ferriol', 'values': [1, 1]},
        '17165': {'name': 'Sant Jaume de Llierca', 'values': [6, 6]},
        '17185': {'name': 'Sant Joan les Fonts', 'values': [7, 7]},
        '17200': {'name': 'Tortellà', 'values': [14, 14]},
        '17208': {'name': 'Vall de Bianya, La', 'values': [12, 12]},
        '17207': {'name': "Vall d'en Bas, La", 'values': [54, 56]}}}}}}}}}

In [215]:
type(dades)

dict

In [217]:
dades.keys()

dict_keys(['dates', 'values', 'countries'])

In [218]:
dades.values()

dict_values([[datetime.date(2021, 6, 1), datetime.date(2021, 7, 1)], [374, 377], {'ES': {'name': 'España', 'values': [374, 377], 'ccaas': {'09': {'name': 'Cataluña', 'values': [374, 377], 'states': {'17': {'name': 'Girona', 'values': [374, 377], 'cities': {'17010': {'name': 'Argelaguer', 'values': [10, 10]}, '17021': {'name': 'Beuda', 'values': [4, 4]}, '17109': {'name': 'Montagut i Oix', 'values': [9, 9]}, '17114': {'name': 'Olot', 'values': [165, 165]}, '17133': {'name': "Planes d'Hostoles, Les", 'values': [21, 21]}, '17139': {'name': 'Preses, Les', 'values': [14, 15]}, '17149': {'name': 'Riudaura', 'values': [10, 10]}, '17154': {'name': 'Sales de Llierca', 'values': [3, 3]}, '17183': {'name': 'Sant Aniol de Finestres', 'values': [10, 10]}, '17184': {'name': 'Santa Pau', 'values': [9, 9]}, '17161': {'name': 'Sant Feliu de Pallerols', 'values': [25, 25]}, '17162': {'name': 'Sant Ferriol', 'values': [1, 1]}, '17165': {'name': 'Sant Jaume de Llierca', 'values': [6, 6]}, '17185': {'name': 'Sant Joan les Fonts', 'values': [7, 7]}, '17200': {'name': 'Tortellà', 'values': [14, 14]}, '17208': {'name': 'Vall de Bianya, La', 'values': [12, 12]}, '17207': {'name': "Vall d'en Bas, La", 'values': [54, 56]}}}}}}}}])

In [219]:
dates=dades['dates']
type(dates)

list

In [220]:
members= dades['values']

In [221]:
print(dates, members)

[datetime.date(2021, 6, 1), datetime.date(2021, 7, 1)] [374, 377]

In [222]:
df = pd.DataFrame(list(zip(dates, members)),
               columns =['Date', 'Members'])
df

         Date  Members
0  2021-06-01      374
1  2021-07-01      377

In [203]:
df

              0
169  2021-06-01
169  2021-07-01

In [ ]:
# For each metric, we access its information through its API
for metric  in metrics:
    JSONContent = requests.get(ENDPOINT_SOMENERGIA + metric).json()

In [ ]:
import requests


endpoint = "https://www.googleapis.com/books/v1/volumes"

query = "moby dick"


params = {"q": query, "maxResults": 3}

response = requests.get(endpoint, params=params).json()

for book in response["items"]:

    volume = book["volumeInfo"]

    title = volume["title"]

    published = volume["publishedDate"]

    description = volume["description"]

    print(f"{title} ({published}) | {description}")

params = {"city?city=": cities}    
# For each channel, we access its information through its API
for metric  in metrics:
    JSONContent = requests.get(ENDPOINT_SOMENERGIA + metric, params=params).json()
    if 'error' not in JSONContent:
        metrics_list.append([JSONContent['_id'], JSONContent['display_name'], JSONContent['status'],
                             JSONContent['followers'], JSONContent['views']])
                         
df = pd.DataFrame(metrics_list)
df.sample(5)